body,html 
{
background-image: linear-gradient(rgba(4, 58, 108, 0.94),rgba(55, 122, 0, 0.76),rgba(0, 112, 67, 0.93)), url("https://live.staticflickr.com/3535/4566449122_462543fffd_z.jpg");
background-size: 100%;
color: aliceblue;   
}
h1
{
    
}
h2
{
    
}
h3
{
    
}
table,tr,td 
{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}
div 
{
    border: 3px solid black;
    
}
.nav
{
    position: absolute;
    text-align: center;
}
a:link
{
    color:aquamarine;
}
a:visited
{
    color:chartreuse;
}
a:hover
{
    color: aqua;
}
//Home page
.day-box PREP
{
    
}
.day-box CURRENT
{
    
}
.day-box COMPLETED
{
    
}
//myAccount page

//ClassMates page
img 
{
    width: 80px;
    height: 110px;
}
img.person_image
{
    width: 100px;
    height: 105px;
}
//Grades page

//Seating page

//logout page
.login_link
{
    font-size: 25px;
}