body,html 
{
background-image: linear-gradient(rgba(4, 58, 108, 0.94),rgba(55, 122, 0, 0.76),rgba(0, 112, 67, 0.93)), url("https://live.staticflickr.com/3535/4566449122_462543fffd_z.jpg");
background-size: 100%;
color: aliceblue;   
}
span.username
{
    font-size: 30px;
    font-family: marioFont;
}
h1
{
    font-family: marioFont;
}
h2
{
    
}
h3
{
    
}
table,tr,td 
{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}
div 
{
    
    
}
div.nav
{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: marioFont;
    border: 2px solid black;
}
@font-face
{
        font-family: marioFont;
        src: url(https://joshwest22.github.io/CSS-Project/eightbitWonder.TTF);
}
a:link
{
    color:aquamarine;
}
a:visited
{
    color:chartreuse;
}
a:hover
{
    color: aqua;
}
/*Home page*/
.day
{
    font-size: 32px; 
    font-weight: bold;
    text-shadow: 2px 1px darkgray;
}
.day-box PREP
{
   border: 2px solid black; 
}
.reading
{
    font-size: 20px;
}
.day-box CURRENT
{
   border: 2px solid black;
}
.day-box COMPLETED
{
   border: 2px solid black;  
}
.assignment-title
{
    font-size:20px;
}
.assignment-label
{
    font-size: 20px;
}

/*Classmates*/
img.person_image
{
    width: 80px;
    height: 110px;
}
/*Grades page*/

/*Seating page*/

/*logout page*/
.login_link
{
    font-size: 25px;
}