body,html 
{
background-image: linear-gradient(to right, rgba(8, 55, 89, 0.92), rgba(0, 62, 143, 0.91), rgba(56, 120, 204, 0.91)), url("https://live.staticflickr.com/3535/4566449122_462543fffd_z.jpg");
background-size: 100%;
color: white; 
font-size: 20px;
}
span.username
{
    font-size: 26px;
    font-family: marioFont;
}
h1
{
    font-family: marioFont;
}
h2
{
    font-family: 'Cabin', sans-serif;
}
h3
{
    font-family: 'Cabin', sans-serif;
}
p
{
    font-family: 'Cabin', sans-serif;
}
ul 
{
    list-style-image: url("coin.jpg");
}
li
{
    font-family: 'Cabin', sans-serif;
}
table,tr,td 
{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'Cabin', sans-serif;
}
iframe
{
    width: 1152px;
    height: 648px;
}
div 
{
       
}
div.nav
{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: marioFont;
    border: 5px solid #F80E24;
    border-radius: 38px;
    padding: 1%;
    float: left;
    margin-left: 18%;
}
@font-face
{
        font-family: marioFont;
        src: url(https://joshwest22.github.io/CSS-Project/eightbitWonder.TTF);
}
a:link
{
    color:#fdf801;/*#0468D0* - Previous color*/
}
a:visited
{
    color:#F80E24;/*#003D8D - Previous color*/
}
a:hover
{
    color: white;/*#F80E24 - Previous color*/
}
/*Home page*/
#special1
{
    background-image: url(https://img00.deviantart.net/8b9e/i/2019/210/c/4/character_sheet__mario__revision_1__by_prastarkeepers-ddcuclg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 270px;
    width: 200px;
    top: 50%;
    left: 85%;
    margin-top: -0px;
    margin-bottom: -100px;
}
.account_form
{
    float:left;
    padding-top:220px;
    text-align: center;
}
input[type=text]
{
border-radius:6px;
width:10%;
}
.day
{
    font-size: 32px; 
    font-weight: bold;
    text-shadow: 2px 1px darkgray;
}
.day-box PREP
{
   border: 2px solid black; 
}
.reading
{
    font-size: 20px;
}
.day-box CURRENT
{
   border: 2px solid black;
}
.day-box COMPLETED
{
   border: 2px solid black;  
}
.assignment-title
{
    font-size:23px;
}
.assignment-label
{
    font-size: 22px;
}

/*Classmates*/
img.person_image
{
    width: 120px;
    height: 165px;
}
.partners
{
    float: right;
    margin-top: -175px;
    clear: both;
}
/*Grades page*/

/*Seating page*/
rect
{
    fill:black;
}
/*logout page*/
.login_link
{
    font-size: 25px;
}